<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Food Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active"
                        [ngClass]="{ active: isLinkActive('/home') }">Home</a>
                </li>
                <li class="nav-item" *ngIf="isSuperAdmin()">
                    <a class="nav-link" routerLink="/admins" routerLinkActive="active"
                        [ngClass]="{ active: isLinkActive('/admins') }">Admins</a>
                </li>
                <li class="nav-item" *ngIf="isSuperAdmin() || isAdmin()">
                    <a class="nav-link" routerLink="/employees" routerLinkActive="active"
                    [ngClass]="{ active: isLinkActive('/employees') }">Employees</a>
                </li>
                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" routerLink="/food-availability" routerLinkActive="active"
                        [ngClass]="{ active: isLinkActive('/food-availability') }">Food Availability</a>
                </li>
                <li class="nav-item" *ngIf="isEmployee() || isAdmin()">
                    <a class="nav-link" routerLink="/food" routerLinkActive="active"
                        [ngClass]="{ active: isLinkActive('/food') }">Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>